<div class="section">
    <h3>Please select files to upload</h3>
    <div class="panel panel-default">
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="myFileField">Select a file: </label>
                    <input enctype="multipart/form-data" type="file" demo-file-model="myFile"  class="form-control" id ="myFileField"/>
                </div>
                <button ng-click="uploadFile()" class = "btn btn-primary">Upload File</button>
            </form>
        </div>
    </div>
</div>