.menu-list{
    padding-left: 30px;
    padding-top: 20px;
}
.home-section{
    float:left;
    width: 10%;
}
.section{
   position: absolute;
   top: 60px;
   width: 100%;
   padding-left: 10px;
   padding-right: 10px;
   background-color: #eee;
}
.photo{
    padding-right: 5px;
}

#home {
    background-color: #e5ecef;
    width: 100% !important;
    position: absolute;
    top: 60px;
    height: 10%;
}

.btn-primary {
    background-color: #563d7c !important;
    border-color: #563d7c !important;
    color: #ffffff !important;
}

.title-section {
    background-color: #563d7c;
    color: white;
    padding: 10px 0px 10px 10px;
    width:100%;
    height: 60px;
}

.img {
    height: 40px;
    width: 40px;
}

div.stop, div.bus {
    position: absolute;
    width: 60px;
}

.bus-info, .stop-info, .route-info {
    position: relative;
    display: inline-block;
    padding: 5px;
    border-radius: 6px;
}


#button-panel.disabled {
    display: none;
}

#default-panel {
    display: none;
}

#default-panel.enabled {
    display: block;
}



#system-info-wrapper {
    width: 360px;
}

.bus-info-wrapper {
    float: left;
}

.file-upload {
    border-color: #ddd;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 10px;
    color: #563d7c;
    font-size: 18px;
}

.nav-link.active {
    border-bottom: 2px solid #563d7c;
    border-radius: 0px !important;
}

.btn {
    min-width: 100px;
}

#canvas-wrapper {
    width: 65%;
    height: 650px;
    border: 1px solid #b1adad;
    float: right;
    margin-right: 10px;
    border-radius: 6px;
}

.bus-info, .stop-info, .route-info {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;

}

.route-info > span.outer {
    padding: 5px;
    border-radius: 6px;
    font-size: 12px;
    color: white;
}

.route-info span {
    color: white;
}

.bus-info > span {
    padding: 5px;
    border-radius: 6px;
    font-size: 12px;
    color: white;
}

.stop-info > span{
    padding: 5px;
    border-radius: 6px;
    font-size: 12px;
    color: white;
}

#button-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}

.headers {
    text-align: center;
    border-bottom: 3px solid #ddd;
    color: #666;
}

#bus-info-wrapper, #stop-info-wrapper {
    max-height: 180px;
    overflow-y: scroll;
}

#info-wrapper {
    border: 1px solid #b1adad;
    width: 30%px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
}

.info-pills {
    padding: 5px;
    background-color: #ded3de;
    border-radius: 6px;
    margin-top: 5px;
}



